<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.era.fusionmdcapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity"
            />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".WorkAreaActivity"
            android:parentActivityName=".ProfileActivity"/>

        <activity android:name=".NorthPavallionActivity"
            android:parentActivityName=".WorkAreaActivity"/>

        <activity android:name=".SouthPavallionActivity"
            android:parentActivityName=".WorkAreaActivity"/>

        <activity android:name=".EastGalleryActivity"
            android:parentActivityName=".WorkAreaActivity"/>

        <activity android:name=".WestGalleryActivity"
            android:parentActivityName=".WorkAreaActivity"/>

        <activity android:name=".AdminBlockActivity"
            android:parentActivityName=".WorkAreaActivity"/>
        <activity android:name=".WorkSpecificationActivity"
            android:parentActivityName=".WorkAreaActivity"
            />
        <activity android:name=".InfrastructureActivity"
            android:parentActivityName=".WorkSpecificationActivity"/>
        <activity android:name=".ChairMaintainanceActivity"
            android:parentActivityName=".WorkSpecificationActivity"/>
        <activity android:name=".ElectricityActivity"
            android:parentActivityName=".WorkSpecificationActivity"/>
        <activity android:name=".HouseKeepingActivity"
            android:parentActivityName=".WorkSpecificationActivity"/>
        <activity android:name=".AnyOtherIssueActivity"
            android:parentActivityName=".WorkSpecificationActivity"></activity>
    </application>

</manifest>